.card {
  display: flex;
  width: 99%;
  margin: 0 auto;
  margin-right: auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card__container {
  max-width: 100%;
  width: 350px;
  height: 210px;
  background-color: #fff;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 40px;
}
